/*   -------------    Body background animation    --------- */
body {
    margin:0;
    animation: theme 21s linear infinite;
    overflow-x: hidden;
  }
  body:after,body:before {
        content: '';
        display: block;
        position: fixed;
        z-index: -1;
        top: 0;
        width: 100vw;  
        height: 100vh; 
        width: 100vmax;
        height: 100vmax;
        background: rgba(0,0,0,0.05);
        animation: background 90s linear infinite;
    }
    body:after {
        left: 15vw;
    }
    body:before {
        right: 15vw;
        animation-delay: -30s;
        animation-direction: reverse;
    }
  @keyframes theme {
    0% {
        background: #355941;
    }
    16% {
        background: #28514e;
    }
    33% {
        background: #26595f;
    }
    50% {
        background: #235265;
    }
    66% {
        background: #6c722f;
    }    
    83% {
        background: #49461a;
    }
    100% {
        background: #355941;
    }
  }
  @keyframes background {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }
  
  
  
  /* ----------------------  GREETING  -------------------- */
  .content {
          position:absolute;
          display: inline;
          top: 45%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 50vh;
          width: 100vw;
          overflow:hidden;
          font-family: 'Lato', sans-serif;
          font-size: 4vw;
          line-height: 10px;
          color:#ddd;
  }      
  .content__container {
            font-weight: 600;
            overflow: hidden;
            height: 10vh;
            padding: 0 40px;
  }    
  .content__container:after, .content__container:before {
              position: absolute;
              top: 0;
              color: #16a085;
              font-size: 42px;
              line-height: 40px;
              -webkit-animation-name: opacity;
              -webkit-animation-duration: 2s;
              -webkit-animation-iteration-count: infinite;
              animation-name: opacity;
              animation-duration: 2s;
              animation-iteration-count: infinite;
            }
  .content__container__list {
              margin-top: 0;
              display: block;
              text-align: center;
              list-style: none;
              -webkit-animation-name: change;
              -webkit-animation-duration: 10s;
              -webkit-animation-iteration-count: infinite;
              animation-name: change;
              animation-duration: 10s;
              animation-iteration-count: infinite;
  }
  .content__container__list__item {
                line-height:10vh;
                margin:0;
              }
        @-webkit-keyframes opacity {
          0%, 100% {opacity:0;}
          50% {opacity:1;}
        }
        @-webkit-keyframes change {
          0%, 12.66%, 100% {transform:translate3d(0,0,0);}
          16.66%, 29.32% {transform:translate3d(0,-25%,0);}
          33.32%,45.98% {transform:translate3d(0,-50%,0);}
          49.98%,62.64% {transform:translate3d(0,-75%,0);}
          66.64%,79.3% {transform:translate3d(0,-50%,0);}
          83.3%,95.96% {transform:translate3d(0,-25%,0);}
        }
        @-o-keyframes opacity {
          0%, 100% {opacity:0;}
          50% {opacity:1;}
        }
        @-o-keyframes change {
          0%, 12.66%, 100% {transform:translate3d(0,0,0);}
          16.66%, 29.32% {transform:translate3d(0,-25%,0);}
          33.32%,45.98% {transform:translate3d(0,-50%,0);}
          49.98%,62.64% {transform:translate3d(0,-75%,0);}
          66.64%,79.3% {transform:translate3d(0,-50%,0);}
          83.3%,95.96% {transform:translate3d(0,-25%,0);}
        }
        @-moz-keyframes opacity {
          0%, 100% {opacity:0;}
          50% {opacity:1;}
        }
        @-moz-keyframes change {
          0%, 12.66%, 100% {transform:translate3d(0,0,0);}
          16.66%, 29.32% {transform:translate3d(0,-25%,0);}
          33.32%,45.98% {transform:translate3d(0,-50%,0);}
          49.98%,62.64% {transform:translate3d(0,-75%,0);}
          66.64%,79.3% {transform:translate3d(0,-50%,0);}
          83.3%,95.96% {transform:translate3d(0,-25%,0);}
        }
        @keyframes opacity {
          0%, 100% {opacity:0;}
          50% {opacity:1;}
        }
        @keyframes change {
          0%, 12.66%, 100% {transform:translate3d(0,0,0);}
          16.66%, 29.32% {transform:translate3d(0,-25%,0);}
          33.32%,45.98% {transform:translate3d(0,-50%,0);}
          49.98%,62.64% {transform:translate3d(0,-75%,0);}
          66.64%,79.3% {transform:translate3d(0,-50%,0);}
          83.3%,95.96% {transform:translate3d(0,-25%,0);}
        }
  
  
  
  /*   -----------------       Name   --------------------   */
  .container {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 30vw;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .center {
    width: 180px;
    height: 60px;
    position: absolute;
  }
  .btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 2s ease-in-out;
  }
  svg {
    width:180px;
    height:60px;
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 2s ease-in-out;
  }
  .btn:hover {
    transition: 2s ease-in-out;
    background: #4F95DA;
  }
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  .btn span {
    color: white;
    font-size: 2vw;
    font-weight: 100;
  }
  
  /* --------------------------        Profile photo description          -------------------------   */
  .btn-flip {
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    top:60%;
    left: 20vw;
    position: absolute;
    text-align: center;
    align-items: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-family: "Open Sans";
    text-transform: uppercase;
  }
  .btn-flip:hover:after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
  }
  .btn-flip:hover:before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
  }
  .btn-flip:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #323237;
    display: block;
    transition: 0.5s;
    position: absolute;
    background: #adadaf;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
  }
  .btn-flip:before {
    top: 0;
    left: 0;
    opacity: 1;
    color: #adadaf;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0.5s;
    position: relative;
    background: #323237;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
  }
  
  
  
  
  /*   ----------------        Letter     ------------------ */
  .letter-image {
    position:absolute;
    display: inline;
    margin-left: 30%;
      top: 0vh;
      left:40vw;
      height: 30vh;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      cursor: pointer;
  }
  .animated-mail {
      position: absolute;
      height: 25vh;
      width: 30vw;
      -webkit-transition: .4s;
      -moz-transition: .4s;
      transition: .4s;
  }
  .profile_photo{
      height: 20vh;
      border-radius: 50%;
      margin-left: 50%;
  }
  .body {
      position: absolute;
      bottom: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 100px 200px;
      border-color: transparent transparent #e95f55 transparent;
      z-index: 2;
  }
  .top-fold {
      position: absolute;
      top: 50px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 50px 100px 0 100px;
      -webkit-transform-origin: 50% 0%;
      -webkit-transition: transform .4s .4s, z-index .2s .4s;
      -moz-transform-origin: 50% 0%;
      -moz-transition: transform .4s .4s, z-index .2s .4s;
      transform-origin: 50% 0%;
      transition: transform .4s .4s, z-index .2s .4s;
      border-color: #cf4a43 transparent transparent transparent;
      z-index: 2;
  }
  .back-fold {
      position: absolute;
      bottom: 0;
      width: 200px;
      height: 100px;
      background: #cf4a43;
      z-index: 0;
  }
  .left-fold {
      position: absolute;
      bottom: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 50px 0 50px 100px;
      border-color: transparent transparent transparent #e15349;
      z-index: 2;
  }
  .letter {
      left: 10px;
      bottom: 0;
      position: absolute;
      width: 180px;
      height: 100px;
      background: white;
      z-index: 1;
      overflow: hidden;
      -webkit-transition: .4s .2s;
      -moz-transition: .4s .2s;
      transition: .4s .2s;
  }
  .letter-border {
    height: 10px;
    width: 100%;
    background: repeating-linear-gradient(
      -45deg,
      #cb5a5e,
      #f1a6a8 8px,
      transparent 8px,
      transparent 18px
    );
      }   
      .letter-title {
          margin-top: 10px;
          margin-left: 5px;
          height: 10px;
          width: 40%;
          background:  #f1a6a8;
      }
      .letter-context {
          margin-top: 10px;
          margin-left: 5px;
          height: 10px;
          width: 20%;
          background:  #f1a6a8 ;
      }
      
      .letter-stamp {
          margin-top: 30px;
          margin-left: 120px;
          border-radius: 100%;
          height: 30px;
          width: 30px;
          background: #cb5a5e;
          opacity: 0.3;
      }
  .letter-image:hover .animated-mail {
          transform: translateY(50px);
          -webkit-transform: translateY(50px);
          -moz-transform: translateY(50px);
      }
  .letter-image:hover .top-fold {
          transition: transform .4s, z-index .2s;
          transform: rotateX(180deg);
          -webkit-transition: transform .4s, z-index .2s;
          -webkit-transform: rotateX(180deg);
          -moz-transition: transform .4s, z-index .2s;
          -moz-transform: rotateX(180deg);
          z-index: 0;
      }
  .letter-image:hover .letter {
          height: 180px;
      }
  
  
  
  
  /* ------------------------  Show button  ----------------------------- */
  .Show_button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-top: 350px;
    margin-left: 35px;
  }
  .Show_button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:goldenrod;
    border-radius: 10rem;
    z-index: -2;
  }
  .Show_button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color:rgb(129, 98, 20);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  .Show_button:hover {
    color: #fff;
  }
  .Show_button:hover:before {
    width: 100%;
  }
  
  
  /* ------------------------       Directing Table      ----------------------------- */
  .Directing_Table{
      background-image: url(/icons_&_background/black_background.jpg);
      height: 8vh;
      width: 100vw;
      padding-top: 3vh;
      position:fixed;
      top:0px;
      display: flex;
      justify-content:space-evenly;
      z-index:10;
  }
  .Direction {
      position: relative;
      height:5vh;
      width:20vw;
      display: block;
      color: whitesmoke;
      text-align: center;
      padding-top: 1vh;
      background: linear-gradient(0deg, black, #444444);
    }
  .Direction::before{
      content: '';
      position: absolute;
      left: -2px;
      top: -2px;
      background: linear-gradient(45deg, #e8f74d, #ff6600d9, #00ff66, #13ff13, #ad27ad, #bd2681, #6512b9, #ff3300de, #5aabde);
      background-size: 400%;
      width: calc(100% + 5px);
      height: calc(100% + 5px);
      z-index: -1;
      animation: glower 20s linear infinite;
    }
  @keyframes glower {
      0% {
        background-position: 0 0;
      }
      50% {
        background-position: 400% 0;
      }
      100% {
        background-position: 0 0;
      }
    }
  
  
  
    /* ----------------------   Boarder   --------------------  */
  .boarder{
      width:100vw;
      height: 5vh;
      padding: 3vh;
      position: fixed;
      bottom: 0px;
      background-image: url(/icons_&_background/black_background.jpg);
      display:flex;
      justify-content: space-evenly;
      z-index:10;
  }
  .boarder a.link{
      font-size: 3vh;
  }
  .boarder a.link:hover{
      font-size: 5vh;
  }
  .s_icon{
      height:4vh;
      border-radius: 50%;
  }
  .link{
      color: silver;
      font-size: large;
  }
  
  /* -------------   info-table  -------------- */
  .info {
      margin-left: 10vw;
      height: 50vh;
      width: 80vw;
      background-color: lightsteelblue;
      border: 2px solid black;
      /* border-collapse:collapse ; */
  }
  .info th,td{
      border: 1px dotted black;
      padding: 10px;
  }
  
  
  /* ---------------------------------------  About Myself   -------------------------------------- */
  #About_Myself{
      margin-top: 200px;
  }
  .answer{
    border: 1px solid;
    overflow: hidden;
    position: absolute;
    left:400px;
    background-color: #cf4a43;
    padding: 10px;
    margin-top: 25px;
    color: #f3f3f3;
    font-weight:bolder;
    letter-spacing:0.1em;
  }
  .answer:hover{
    background-color: #f3f3f3;
    color: #cf4a43;
  }
  .ask{
    border: 1 solid  rgba(255, 255, 255, 0.5);
    background-color: #424e88;
    padding: 10px;
    margin-top: 25px;
    margin-left: 150px;
    color: #f3f3f3;
    letter-spacing:0.1em;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .ask:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #428848;
  }
  
  /* ------------------------------------------------- */
  #arrow{
      position:absolute;
      width: 5vw;
      margin-left:90vw;
      z-index: 11;
  }
  ol,ul{
      display: flex;
      font-family: serif,'Times New Roman', Times;
      justify-content:space-evenly;
  }
  .club_icon{
    width:250px;
    padding-left: 10%;
  }
  .icon{
      width: 50px;
      height: 50px;
      padding-left: 33%;
      padding-top: 15%;
  }
  #Skills_and_Activities .icon:hover{
      opacity: 0.5;
  }
  
  
  /*          --------------------------------  Education  -------------------------------------------               */
  .timeline{
    width:800px;
    height: 700px;
    margin-left: 150px;
    background-color:#072736;
    border-style: groove;
    color:#fff;
    padding:30px ;
    box-shadow:0px 0px 10px rgba(0,0,0,.5);
    justify-content: space-evenly;
    letter-spacing: 0.1em;
  }
  .timeline li{
    display: block;
    margin-left: 500px;
    margin-top: 100px;
    padding: 100px;
  }
  .timeline ul{
    list-style-type:none;
    border-left:2px solid #49afde;
  }
  .timeline ul li{
    padding:20px;
    position:absolute;
    cursor:pointer;
    transition:.5s;
  }
  .timeline ul li span{
    display:block;
    background-color:#1685b8;
    border-radius:25px;
    padding:2px 5px;
    font-size:15px;
    text-align:center;
  }
  .timeline ul li .content h3{
    margin-top: 30px;
    color:#34ace0;
    font-size:17px;
    padding-top:5px;
  }
  .timeline ul li .content:hover{
    color:#34e065;
  }
  .timeline ul li .content p{
    margin-top: 15px;
    padding:15px;
    font-size:15px;
    line-height: 2;
  }
  @media (max-width:300px){
    .timeline{
      width:100%;
      padding:30px 5px 30px 10px;
    }
    .timeline ul li .content h3{
      color:#34ace0;
      font-size:15px;
    }
  
  }
  
  /*          --------------------------------  Achivements  --------------------------------------               */
  b {
    position: relative;
    display: block;
    font-family: helvetica neue, helvetica, sans-serif;
    line-height: 1.15em;
    margin-top: -1.15em;
    top: 2.3em;
    font-size: 0.67em;
    font-weight: 400;
    letter-spacing: 0.025em;
    opacity: 0.75;
    text-align: center;
  }
  b span {
    font-size: 0.785em;
    font-weight: 400;
    opacity: 0.4;
  }
  #intro {
    width: 200px;
    margin: 100px auto 0;
  }
  .button {
      display: inline-block;
      text-decoration: none;
      position:relative;
      margin-bottom: 20px;
  }
  .button .bottom {
      position: absolute;
      left: 7px;
      top: 7px;
      width: 110%;
      height: 100%;
      background-color: #2acdc1;
      display: block;
      -webkit-transition: all .15s ease-out;
      -moz-transition: all .15s ease-out;
      -o-transition: all .15s ease-out;
      transition: all .15s ease-out;
  }
  .button .top {
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 24px 34px 22px 34px;
      border: 2px solid #fff;
  }
  .button-dark .top {
      border: 2px solid #fff;
  }
  .button .top .label {
      font-family: 'Gill Sans',sans-serif;
      font-weight: 600;
      color:whitesmoke;
      font-size: 12px;
      line-height: 110%;
      letter-spacing: 2px;
      text-align: center;
      text-transform: uppercase;
      -webkit-transition: all .15s ease-out;
      -moz-transition: all .15s ease-out;
      -o-transition: all .15s ease-out;
      transition: all .15s ease-out;
  }
  .button-dark .top .label {
      color: #fff;
  }
  .button:hover .bottom {
      left: 0;
      top: 0;
      background-color: #f3f3f3;
  }
  .button:hover .top .label {
      color: #187b75;
      font-family: Georgia,sans-serif, 'Gill Sans', 'Gill Sans MT';
  }
  .button-border {
      position: absolute;
      background-color: #2acdc1;
      -webkit-transition: all .25s ease-out;
      -moz-transition: all .25s ease-out;
      -o-transition: all .25s ease-out;
      transition: all .25s ease-out;
  }
  .button:hover .top .button-border-left,.button:hover .top .button-border-right {
      height: calc(100% + 2px);
  }
  .button:hover .top .button-border-top,.button:hover .top .button-border-bottom {
      width: calc(100% + 2px);
  }
  .button-border-left {
      left: -2px;
      bottom: -2px;
      width: 2px;
      height: 0;
  }
  .button-border-top {
      left: -2px;
      top: -2px;
      width: 0;
      height: 2px;
  }
  .button-border-right {
      right: -2px;
      top: -2px;
      width: 2px;
      height: 0;
  }
  .button-border-bottom {
      right: -2px;
      bottom: -2px;
      width: 0;
      height: 2px;
  }
  
  
  
  /*   ------------------------    Activities    -------------------------------------       */
  .menu {
    filter: url("#shadowed-goo");
  }
  #skill{
    color: #fff;
    text-align: center;
    justify-content: center;
  }
  #Skills_and_Activities ol{
    list-style-type:none;
  }
  .click{
    height: 20px;
  }
  .menu-item {
    background: rgb(211, 181, 104);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    position: absolute;
    line-height: 0vh;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
  }
  .menu-open-button {
    background:goldenrod;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    position: absolute;
    text-align: center;
    line-height:0vh;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
  }
  .menu-open {
    display: none;
  }
  .menu {
    position: absolute;
    left: 40%;
    width: 380px;
    height: 250px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;
  }
  .menu-open-button {
    z-index: 2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
  }
  .menu-open-button:hover {
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  }
  .menu-open:hover + .menu-open-button {
    transition-timing-function: linear;
    transition-duration: 200ms;
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  }
  .menu-open:hover ~ .menu-item {
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  }
  .menu-open:hover ~ .menu-item:nth-child(3) {
    transition-duration: 160ms;
    transform: translate3d(114.42548px, 11.48084px, 0);
  }
  .menu-open:hover ~ .menu-item:nth-child(4) {
    transition-duration: 240ms;
    transform: translate3d(77.18543px, 85.2491px, 0);
  }
  .menu-open:hover ~ .menu-item:nth-child(5) {
    transition-duration: 320ms;
    transform: translate3d(0.09158px, 114.99996px, 0);
  }
  .menu-open:hover ~ .menu-item:nth-child(6) {
    transition-duration: 400ms;
    transform: translate3d(-77.04956px, 85.37192px, 0);
  }
  .menu-open:hover ~ .menu-item:nth-child(7) {
    transition-duration: 480ms;
    transform: translate3d(-114.40705px, 11.66307px, 0);
  }
  